<%= render 'layouts/navigation'%> 

<div id="page-content">
    <h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>

    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" 
    class="img-fluid rounded shadow mx-auto d-block" width="25%" height="25%"  alt="...">

    <% if logged_in? && current_user == @user%>
        <div class="text-center mt-4">
            <%= link_to "Edit Your Profile", edit_user_path(@user), class: "btn btn-outline-info" %>
        </div>
    <% end %>
    
<</div>



