
<div  class="about-body d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <a href="/about" id="about_logo" > <h3 class="float-md-left mb-0 ">OpenShop</h3> </a>

                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link"  href="/">Home</a>
                    <a class="nav-link" href="/campgrounds">Products</a>
                    <% if !current_user  %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/signup">Register</a>
                    <% else  %>
                        <%# <a class="nav-link" href="/logout">Logout</a> %>
                        <%= link_to 'Log Out', logout_path, class: 'nav-link', method: :delete %>
                    <% end %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>OpenShop</h1>
            <p class="lead"> Welcome to OpenShop! <br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
            <a href="/campgrounds" class="btn_about btn btn-lg font-weight-bold border-white bg-white">
                Start Shopping</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2021</p>
        </footer>
    </div>
</div>

