
<div  class="about-body d-flex text-center text-white bg-dark">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <a href="/about" id="about_logo"> <h3 class="float-md-left mb-0 "> <span id="open">Open</span><span id="shop">Shop</span></h3> </a>

                <%# <nav class="navbar navbar-light bg-light"> %>
                    <%# <div class="container-fluid"> %>
                        
                    <%# </div> %>
                <%# </nav> %>

                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <form class="form-inline d-flex my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/categories">Categories</a>
                    <a class="nav-link" href="/products">Products</a>
                    <% if !current_user  %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/signup">Register</a>
                    <% else  %>
                        <%= link_to "Contact Us", '/chat' ,class: 'nav-link' %>
                        <%# <a class="nav-link" href="/logout">Logout</a> %>
                        <%= link_to 'Log Out', logout_path, class: 'nav-link', method: :delete %>

                    <% end %>
                </nav>
            </div>
        </header>
        <main class="px-3 mt-5">
        <div class="cover-container mx-auto">

            <%= render 'layouts/categories_carousel'%>


    
        </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2021 </p>
        </footer>
    </div>
</div>

