@import 'bootstrap/dist/css/bootstrap';

.navbar 
{
    background-color: black !important;
}

.nav-link {
    color: white !important;
}
#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    // text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.navbar-brand 
{
    font-size: 3rem;
}
h1 {
    color: blue($color: #000000);
}
#home-container
{
    margin-top: 25px;
}
.jumbotron
{
    background-image: asset-url('jumbo_copy');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;

    color: white;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
//   background-color: lightgrey;
//   background-color: grey;
}

body
{
    // background-color: grey;
  background-color: lightgrey;
  height: 100%;

}

#sticky-footer {
  flex-shrink: none;
}
#new_product_btn
{
    margin: auto;
    width: 49%;
}

#product_carousel
{
    margin: auto;
    width: 85%;
}

#open
{
    font-weight: bold;
    color: green;
    font-style: italic;
}

// #cart_div
// {
//     // position: inherit;
//     // // position: static;
//     // bottom: -2000;
//     // left: 2000;
// }
// .custom_footer
// {

//     // position: -webkit-sticky; /* Safari */
//     // position: sticky;
// //   top: 0;

//     // height: 10vh;
//     // position:fixed;
//     // width: 100%;
//     // bottom: 0;
//     // background: transparent;
// }
#author_link
{
    color: grey;
}

.content_container {
    min-height: 100vh;
}