 <div class="container">
        <% @categories.each do |category| %>

            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="row justify-content-md-center">

                    <div class="col-md-4">
                        <img class="img-fluid" src="https://gardenseason.com/wp-content/uploads/2019/09/gardener-planting-flowers-gardening-skills-ss-featured.jpg" alt="">
                    </div>

                    <div class="col-6 mt-4">
                        <div class="card-header font-italic">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to category.name, category_path(category), class: 'text-success'%></h5>

                            <a href="<%=category_path(category) %>" class="btn btn-outline-info ">category Details</a>
                        
                        </div>
                        <div class="card-footer text-muted">
                            <small>
                                Created <%= time_ago_in_words(category.created_at)%> ago,
                                Edited <%= time_ago_in_words(category.updated_at)%> ago
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        <% end -%>
    </div>
