<%= render 'layouts/navigation'%> 

<div id="page-content">
    <h1 class="text-center mt-2">Showing All Products</h1>


    <%= render 'products'%> 
   
    <br>
    <%# link_to 'Create New Artcile', new_product_path()  %>
</div>
