<%# 
<footer class="mt-auto text-white-50">
    <p>&copy; 2021 </p>
</footer> %>

<div class="mt-auto custom_footer navbar-fixed-bottom">
    <footer class="footer bg-dark py-3 mt-auto" >
        <div class="container">
            <span class="text-muted"> &copy;<i>Open</i>Shop 2021 <br>
                <%# By <a id="author_link" href="https://twitter.com/HamzaRandhaawa">@HamzaNoorRandhawa</a>     %>
            </span>
        </div>
    </footer>
</div>
