<%# 
<footer class="mt-auto text-white-50">
    <p>&copy; 2021 </p>
</footer> %>

<div class="mt-4">
    <footer class="footer bg-dark py-3 mt-auto" >
        <div class="container">
            <span class="text-muted"> &copy; OpenShop 2021</span>
        </div>
    </footer>
</div>
